{% extends 'base_accounts.html' %}

{% block title %}
    更改密码成功
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'password_change' %}">Change password</a></li>
    <li class="breadcrumb-item active">Success</li>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="alert alert-success" role="alert">
                <strong>成功！</strong> 密码已被更改
            </div>
            <a href="{% url 'home' %}" class="btn btn-secondary btn-block">返回主页</a>
        </div>
    </div>

{% endblock %}